@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@keyframes moonKnightFlash {
    0% {opacity: 100%;}
    5% {opacity: 0%;}
    35% {opacity: 0%;}
    40% {opacity: 100%;}
    54% {opacity: 0%;}
    68% {opacity: 100%;}
    82% {opacity: 0%;}
    96% {opacity: 100%;}
    100% {opacity: 100%;}
}

:root {
    --cardtext: rgb(133, 170, 238);
    --navcolor: rgb(88, 136, 224);
    --cardcolor: rgb(56, 56, 56);
    --sectionheader: rgb(180, 184, 194);
}

body {
    margin: 0;
    background-color: rgb(22, 22, 22);
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

.cardTitle {
    font-family: 'Ubuntu', sans-serif;
    color: var(--cardtext);
    margin: 2%;
}

.cardTextDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comicCard {
    border-radius: 5%;
    max-width: 40vh;
    max-height: 25vh;
    background-color: var(--cardcolor);
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
}

.comicContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info {
    font-size: 0.25vw;
}

.mustReadComicCard {
    display: flex;
    justify-content: center;
    border-radius: 5%;
    max-width: 75vh;
    max-height: 40vh;
    background-color: var(--cardcolor);
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.navText {
    font-family: 'Ubuntu', sans-serif;
    color:  var(--navcolor);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.recTextDecoration {
    text-decoration: none;
}

.recTitle {
    font-family: 'Ubuntu', sans-serif;
    color: var(--navcolor);
    margin: 2%;
}

.row {
    display: flex;
    flex-direction: row;
}

.sideImage {
    border-radius: 7%;
    min-height: 100%;
    max-height: 75%;
    max-width: 10rem;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    color: var(--sectionheader);
    margin-bottom: 2%;
    margin-left: 2%;
}

#logoText {
    font-family: 'Ubuntu', sans-serif;
    color: var(--cardtext);
    padding: 1%;
}

#NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

#navIcon {
    max-width: 100px;
    max-height: 100px;
}

